.wrapper {
    margin-top: 20%;
    margin-left: 30%;
}

.rider {
  width: 120px;
  height: 25px;  
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 12px;
  overflow-wrap: break-word;
  border: 1px solid #999;
  border-radius: 4px;
  padding: 12px;  
  background: #f8f8f8;
  position: relative;
}