.wrapper {
    margin-top: 20%;
    margin-left: 30%;
}

.rider {
  width: 120px;
  height: 25px;  
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  line-height: 10px;
  overflow-wrap: break-word;
  border: 1px solid #999;
  border-radius: 4px;
  border-color: gold;
  padding: 10px;  
  background: #f8f8f8;
  position: relative;
}