.chosen-rider {
  height: 30px;
  width: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  line-height: 10px;
  overflow-wrap: break-word;
  border: 1px solid #999;
  border-radius: 4px;
  padding: 10px;
  background: #f8f8f8;
  position: relative;
}

.race-bet {
  display: flex;
  flex-direction: row;
  border: 1px solid #999;
  border-radius: 4px;
  padding: 15px;
  align-content: left;
  margin-top: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 12px;
}

.choice {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.choice-details {
    width: 80px;
    padding: 20px;
}
