body {
  width: 650px;
  margin-left: 20%;
  margin: 40px;
  padding: 0;
  font-family: sans-serif;
}

.riders-select {
  /* width: 620px; */
  overflow-y: auto;
}

.team-container {
  display: flex;
  flex-direction: row;
  border: 1px solid #999;
  border-radius: 4px;
  padding: 5px;
  align-content: center;
  margin-top: 5px;
}

.team-sign {
  display: flex;
  flex-direction: column;
}